<!DOCTYPE HTML>
<html>
	<head>
		<title>#FoodResume Resumes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

							<form method="post" action="#">
                                
							
									<input type="text" name="company" id="company" value="" placeholder="company" />
									
									<input type="text" name="filename" id="filename" value="" placeholder="filename" />																		
									<input type="text" name="url" id="url" value="" placeholder="url" />

									<input type="text" name="newest" id="newest" value="" placeholder="newest" />
									
                               
                                    
                                    
									
                                	<input type="button" id="putfile" value="putfile" />
                                   
                                  	<input hidden disable type="text" id="contractAddress" value="<%= contractAddress%>" />
                                   
                                   
									
                                    

                                    <pre id="log"></pre>
                              
                            </form>
						
                    
					
		<!-- Scripts -->
			<script
  				src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  				integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  				crossorigin="anonymous"></script>
        	<script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
            <script src="js/Produce.js"></script>

	</body>
</html>