<!DOCTYPE html>
<html>
<head>
	<title>File Blog System</title>

	<script
	src="http://code.jquery.com/jquery-1.9.1.min.js"
	integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	

	<style type="text/css">
		body{
			background: #F7F7F7;	
		}	
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Brand</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<% if (companyname && authenticated) {%>
						<li><a href="#"><%= companyname%>.<%= username %></a></li>
						<li><a href="/users/manage">Manage</a></li>
						<li><a href="/users/add_file">Add File</a></li>						
						<li><a href="/users/signout">Sign Out</a></li>
						<% }else{ %>
						<li><a href="/users/signin">Log In</a></li>
						<li><a href="/users/register">Register</a></li>
						<li><a href="/users/forget">Forgot password</a></li>
						<% } %>			
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>


	
<br><br>
<div class="container theme-showcase" role="main">

<div class="page-header">
        <h1><%= title%></h1>
      </div>

<ul class="list-group">
	<% for(var i = companynames.length-1 ; i>=0; i--){ %>
	<li class="list-group-item"><%- companynames[i] %></li>
	<% } %>			
</ul>


</div>
</body>

</html>

<!--
doctype html
html
	head
		title= 'Blog System'
	body
		div(style='float:left;margin:10px;')
			a(href='/') Home

		div(style='float:right')
			if (username && authenticated)
				a(href='/users/signout', style='margin:10px;') Sign Out
				a(href='/users/add_article', style='margin:10px;') Add Article
				a(href='/users/profile', style='margin:10px;') Profile
				span #{username}
			else
				a(href='/users/signin', style='margin:10px;') Log In
				a(href='/users/register', style='margin:10px;') Register
				a(href='/users/forget', style='margin:10px;') Forgot password
	
	div(style='padding:50px;')
		h1= title

	for article in blogs
		div
			div(style='float:left;margin-top:10px;')= article.Username
			div(style='float:right;margin-top:10px;')= article.CreateDate
			br
			div(style='clear:both')= article.Article
				a(href='/users/message/'+article.id, style='float:right;margin-top:105px;margin-right:20px;') Leave a message
			hr(style='margin-top:110px;')
		-->
